<div class="bg-[#F5F5EB]">
  <div class="w-full lg:max-w-5xl mx-auto flex justify-evenly space-x-4 py-20 ">
    <div class="flex flex-col items-start self-center">
      <h1>
        MediMatrix® Progressive Healthcare Solutions.
      </h1>
      <div class="flex items-center mt-16">
        <button class="font-semibold bg-[#127865] hover:bg-teal-600 text-white px-11 py-3.5 rounded-full" type="button">Contact Demo</button>
        <span class="px-4">OR</span>
        <span class="font-semibold text-[#1D7666]">Call: 612-930-4310</span>
      </div>
    </div>
    <div class="object-cover aspect-auto w-full">
      <img alt="man" src="../assets/man.png"/>
    </div>
  </div>
</div>

<div class="w-full lg:max-w-5xl mx-auto lg:px-20">

  <div class="flex py-28">
    <div class="w-[45%]">
      <img class="object-cover aspect-square w-[100%]" alt="rengen" src="../assets/rengen.png">
    </div>
    <div class=" w-[45%]">
      <img class="object-contain aspect-square w-[100%]" alt="doctor" src="../assets/doctor.png" />
    </div>
    <div class="px-20 flex flex-col w-full justify-center">
      <h2 class="pb-4">What we offer</h2>
      <div class="font-sans text-stone-500">
        Our suite of solutions streamlines operations, including automating result sharing with numerous reading groups
        and EMRs, all while expediting reimbursements.
      </div>
    </div>
  </div>


  <div class="flex flex-col items-center py-8">
    <h2>Why clients choose us</h2>
    <span class="text-center w-[58%] font-sans text-stone-500 py-6">
      Your team is accountable for ensuring your clients receive speedy and accurate patient results.
      We solve this for our clients with our collection of purpose-built solutions.
    </span>

    <div class="grid grid-cols-3 gap-8 pt-11">
      <div class="box-border bg-[#F5F5EB] rounded-lg px-8 py-12">
        <img class="pb-8" alt="MRI" src="../assets/Mobile-radiology-integration.png" />
        <h3 class="pb-4">Mobile radiology integration</h3>
        <span class="font-sans text-stone-500">
          See the difference with tools like 1-click image sharing to multiple reading groups
          and quick delivery of patient results to client’s EMRs.
        </span>
      </div>

      <div class="box-border bg-[#FDECD1] rounded-lg px-8 py-12">
        <img class="pb-8" src="../assets/Superior-technologies-.png" />
        <h3 class="pb-4">Superior technologies</h3>
        <span class="font-sans text-stone-500">
        As industry leaders, clients are able to leverage technology advances
        found in our solutions, keeping them ahead of the curve.
      </span>
      </div>

      <div class="box-border bg-[#E4E9DA] rounded-lg px-8 py-12">
        <img class="pb-8" src="../assets/Patient-care.png" />
        <h3 class="pb-4">Patient care</h3>
        <span class="font-sans text-stone-500">
        We strive to provide simplified healthcare solutions that enable clients to accurately
        and efficiently share information, ultimately improving patient care.
      </span>
      </div>
    </div>

  </div>

  <div class="flex flex-col items-center mt-24">
    <h2>
      Working with the best partners
    </h2>
    <img class="h-60 w-full my-4" src="https://via.placeholder.com/1088X208?text=partners-link" />
  </div>

  <div class="flex flex-col pt-16">
    <div class="flex justify-between">
      <h2>Our blog</h2>
      <a href="#">View all</a>
    </div>
    <div class="grid grid-cols-3 gap-8 pt-20 pb-36">
      <div class="flex flex-col border rounded-lg p-6 col-span-2">
        <span class="text-[#127865]">ANNOUNCEMENTS</span>
        <h2 class="py-4">Check out what’s new!</h2>
        <span class="text-[#127865]">23 May 2022</span>
        <p class="py-4">Introducing MediMatrix Hospital Connect! More and more patients are receiving care in a home setting. Further accelerated by the Acute Hospital Care at Home (AHCaH) initiative and the COVID-19 pandemic, hospitals are presenting portable radiology companies with opportunities to conduct imaging and labs procedures on behalf of hospitals. MediMatrix Hospital Connect gives portable radiology companies …</p>
      </div>
      <div class="flex flex-col border rounded-lg p-6">
        <span class="text-[#127865]">TRENDS</span>
        <h3 class="py-4">Check out what’s new!</h3>
        <span class="text-[#127865]">23 May 2022</span>
        <p class="py-4">Introducing MediMatrix Hospital Connect! More and more patients are receiving care in a home setting. Further accelerated by the Acute Hospital Care at Home (AHCaH) initiative and the COVID-19 pandemic, hospitals are presenting portable radiology companies with opportunities to conduct imaging and labs procedures on behalf of hospitals. MediMatrix Hospital Connect gives portable radiology companies …</p>
      </div>
      <div class="flex flex-col border rounded-lg p-6">
        <span class="text-[#127865]">TRENDS</span>
        <h3 class="py-4">Check out what’s new!</h3>
        <span class="text-[#127865]">23 May 2022</span>
        <p class="py-4">There is a common occurrence we hear from multiple mobile radiology companies across the country.</p>
      </div>
      <div class="flex flex-col border rounded-lg p-6 col-span-2">
        <span class="text-[#127865]">ANNOUNCEMENTS</span>
        <h2 class="py-4">WebInterstate Inc. integrates PointClickCare®</h2>
        <span class="text-[#127865]">23 May 2022</span>
        <p class="py-4">Introducing MediMatrix Hospital Connect! More and more patients are receiving care in a home setting. Further accelerated by the Acute Hospital Care at Home (AHCaH) initiative and the COVID-19 pandemic, hospitals are presenting portable radiology companies with opportunities to conduct imaging and labs procedures on behalf of hospitals. MediMatrix Hospital Connect gives portable radiology companies …</p>
      </div>
    </div>
  </div>


</div>





